


@model IEnumerable<Genres>



@{
    ViewData["Title"] = "Genre Page";
}

 
<div class="Genre-Continer-Grid">


    

        @foreach (var obj in Model){

            <div class="Genre-Container">
                <div class="Gener-Content">
                <a asp-controller="Songs" asp-action="Index" asp-route-id="@obj.Id"> <i class="bi bi-music-note-beamed"></i>  @obj.Name </a>
                </div>
            </div>
               
           

        }

   

</div>