


@model IEnumerable<Genres>



@{
    ViewData["Title"] = "Home Page";
}

 

@foreach (var obj in Model){

    <a asp-controller="Songs" asp-action="Index" asp-route-id="@obj.Id">  @obj.Name </a>
    <br />

}