


@model IEnumerable<Songs>


@{
    ViewData["Title"] = "songs";
}

 

@foreach(var obj in Model)
{
    <a asp-controller="SongsDetails" asp-action="index" asp-route-id="@obj.Id" >@obj.Name</a>
    <a asp-controller="Songs" asp-action="AddToPlayListView" asp-route-id="@obj.Id">Add to your playlist</a>
    <br />
}

 