


body , html{

    height: 100%;
    margin-bottom: 0px;
    
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}



.Main {

     
    flex-grow: 1;
    padding: 20px;
    
}