@using System.Security.Claims;
@using static jukebox.Controllers.PlayListController;
@model twoModels ;



 

<h1> Make a new playlist </h1>

<form method="post" >

    <input type="hidden" asp-for="PlayLists.UserId" value="@Model.userid" />

    <input type="text" asp-for="PlayLists.Name" placeholder="Your playlist name" />

    <input type="submit" value="Create" />


</form>