@using System.Security.Claims;
@using static jukebox.Controllers.PlayListController;
@model twoModels ;



 
 


<div class="Edit-Make-PlayList-FlexBox" >

    <div class="Edit-Make-PlayList-Container" >

        <div class="Edit-Make-PlayList-Title"> <i class="bi bi-folder-plus"></i>  Make a new playlist   </div>

        <form method="post" >

            <input type="hidden" asp-for="PlayLists.UserId" value="@Model.userid" />


            <div class="Edit-Make-PlayList-PlayList-Name" >

                <input type="text" asp-for="PlayLists.Name" placeholder="Your playlist name" />

            </div>

            <div class="Edit-Make-PlayList-Submit" >

                <div   >

                    <input lass="Edit-Make-PlayList-Submit"  type="submit" value="Create" />
                </div>

            </div>


        </form>
    </div>
</div>