@model IEnumerable<PlayLists>;


@{
    ViewData["Title"] = "MyPlayList";
}

<h1>MyPlayList</h1>

<a asp-controller="PlayList" asp-action="AddToPlayList"> Make play list</a>


@foreach(var obj in Model){

    <h2>@obj.Name</h2>
}