<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - jukebox</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/general.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Gnere.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SongsPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SongDetails.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MakeEditPlaylists.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MyPlayList.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/PlayListPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/jukebox.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap" rel="stylesheet">
</head>
<body>

    <div class="content">
    <header>
         <nav>

            <div class="leftSection">


                <div class="Title">

                    <a asp-controller="Genre" asp-action="Index">  <i class="bi bi-music-note"></i> Jukebox </a>
                    

                </div>

             </div>

             <div class="RigthSection">

           
                        
                


                <div class="DriopContent">

                    <button class="dropbtn">
                        <i class="bi bi-list"></i>
                    </button>

                    <div class="List">

                        <partial name="_LoginPartial">

                    </div>
                   


                </div>

             </div>

         </nav>
    </header>
    
        <main role="main" class="Main">
            @RenderBody()
        </main>
    

    <footer >
        <div  >
            &copy; 2023 - jukebox - <a asp-area="" asp-controller="Genre" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
